<nav class="navbar navbar-expand-md sticky-top nav-glass py-3">
    <div class="container flex-wrap flex-md-nowrap">
        <a class="navbar-brand d-flex align-items-center gap-2" asp-controller="Home" asp-action="Index">
            <div class="logo-box bg-primary rounded-lg d-flex align-items-center justify-content-center">
                <i class="fa fa-briefcase text-white"></i>
            </div>
            <span class="fw-bold text-dark fs-4">WorkFlow</span>
        </a>

        <button class="navbar-toggler border-0 ms-auto" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarContent">
            <i class="fa fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav mx-auto mb-2 mb-md-0 gap-lg-4">
                <li class="nav-item">
                    <a class="nav-link custom-nav-link" href="#">Find Talent</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-nav-link" href="#">Find Work</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-nav-link" href="#">How It Works</a>
                </li>
            </ul>

            <div class="d-flex flex-column flex-md-row align-items-center gap-2 pb-3 pb-md-0">
                <a class="btn btn-ghost btn-sm px-3 w-100 w-md-auto" asp-area="Identity" asp-page="/Account/Login">Log In</a>
                <a class="btn btn-emerald btn-sm px-4 rounded-pill w-100 w-md-auto" asp-area="Identity" asp-page="/Account/Register">Get Started</a>
            </div>
        </div>
    </div>
</nav>